body{
    margin:20px ;
    font-size: 30px;
    background-color: antiquewhite;
    border:  2px solid black;
}
header{
    width: 100%;
}
h3{
    font-family: "Gloria Hallelujah", cursive;
}
h5{
    font-weight: 200;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color:orangered ;
    text-decoration: underline;
    cursor: pointer;
} 
hr{
    border: 1px solid black;
}
.navbar{
    display: flex;
}
.navbar1{
    display: flex;
    width: 500px;
}
.navbar1 > img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 20px;
}
/* .navbar1> h1{
    margin:20px 10px;
    font-size: 45px;
} */
.navbar2 >ul{
    display: flex;
    list-style: none;
    margin-left: 430px;
}
.navbar2 >ul >li{
    padding-left: 20px;
}
.navbar2>ul>li:hover{
    color: red;
    text-decoration: underline;
    cursor: pointer;
    text-shadow: 5px 5px lightgray;
}
/* hero section */
.hero{
    justify-items: center;
}
.hero>h1{
    font-family: "Gloria Hallelujah", cursive;
}

/* body section */
.bodi{
    display: flex;
    border: 2px solid black;
    margin-top: 80px;
}
.bodi> .projects{
    border-right: 2px solid black;
    width: 50%;
    padding: 10px;
}
.bodi>.projects:hover{
    box-shadow:3px 2px 5px black ;
    cursor: pointer;
}
.bodi > .experience{
    border-right:2px solid black;
    padding: 20px;
}
.bodi>.experience:hover{
    box-shadow:3px 2px 5px black ;
    cursor: pointer;
}
.bodi > .education{
    padding: 20px;
}
.bodi>.education:hover{
    box-shadow:3px 2px 5px black ;
    cursor: pointer;
}
.bodi>.education>ul{
    list-style: none;
    font-weight:200 ;
    font-size: 25px;
    margin-left: -15px;
    line-height: 2;
}
.footer >h1{
    margin-left: 100px;
    margin-top: 100px;
    font-size:35px;
    font-family: "Gloria Hallelujah", cursive;
}
.footer1{
    display: flex;
    justify-content: center;
    margin-top:20px;
}
.footera{
    border: 1px solid black;
    width: 300px;
    margin-left: 50px;
    padding: 10px 20px 0 40px;
    border-radius: 30px;
    box-shadow: 4px 4px 3px black;
    background-color: blueviolet;
    color: white;
}
.footera:hover{
    background-color: antiquewhite;
    color: red;
    cursor: pointer;
}
.foot{
    justify-items:center;
    margin-top: 100px;
    font-size: 20px;
}
.foot>h1{
    font-family: "Reenie Beanie", cursive;
}


/* media query 🥹*/
@media (max-width:480px) {
    body{
        margin: 5px;
        padding: 0;
        background-color: red;
        width: 680px;
    }
    .navbar1{
        flex-direction: column;
        margin: 100px 0 0 100px;
    }
    .navbar1>img{
        height: 200px;
        width: 200px;
        margin-left: 120px;
    }
    .navbar1>.name{
        margin-left: 100px;
        width: 400px;
        display: flex;
    }
    .navbar2>ul{
        margin-left: -450px;
        font-size: 30px;
        font-family: "Reenie Beanie", cursive;
    }
    .bodi{
        font-size: 24px;
    }
    .bodi>.education>ul{
        font-size: 20px;
        margin: 0 0 0 -50px;
    }
    .bodi>.experience{
        width: 50%;
    }
    .footer1{
        flex-direction: column;
        margin-left: -30px;
    }
    .footera{
        width: 80%;
        margin-top: 40px;
    }
}
@media (min-width:481px) and (max-width:765px) {
    body{
        background-color: blue;
        width:800px;
        margin: 5px;
    }
    .navbar1{
        flex-direction: column;
        margin: 100px 0 0 100px;
    }
    .navbar1>img{
        height: 200px;
        width: 200px;
        margin-left: 200px;
    }
    .navbar1>.name{
        margin-left: 140px;
        width: 400px;
        display: flex;
    }
    .navbar2>ul{
        margin-left: -380px;
        font-size: 30px;
        font-family: "Reenie Beanie", cursive;
    }
    .bodi{
        font-size: 34px;
    }
    .bodi>.education>ul{
        font-size: 20px;
        margin: 0 0 0 -50px;
    }
    .bodi>.experience>.experience2{
        width: 350px;
    }
    .footer1{
        flex-direction: column;
        margin-left: 10px;
    }
    .footera{
        width: 80%;
        margin-top: 40px;
    }
}

@media (min-width: 766px) and (max-width: 899px) {
    body{
        background-color: yellow;
        width: 98%;
        margin: 5px;
    }
    .navbar1{
        flex-direction: column;
        margin: 100px 0 0 100px;
    }
    .navbar1>img{
        height: 200px;
        width: 200px;
        margin-left: 200px;
    }
    .navbar1>.name{
        margin-left: 140px;
        display: flex;
        width: 400px;
    }
    .navbar2>ul{
        margin-left: -380px;
        font-size: 30px;
        font-family: "Reenie Beanie", cursive;
    }
    .bodi{
        font-size: 34px;
    }
    .bodi>.education>ul{
        font-size: 20px;
        margin: 0 0 0 -50px;
    }
    .bodi>.experience>.experience2{
        width: 350px;
    }
    .footer1{
        flex-direction: column;
        margin-left: 10px;
    }
    .footera{
        width: 80%;
        margin-top: 40px;
    }

}
@media (min-width:900px) {
    body{
        width: 98%;
        margin: 10px;
        /* border: none; */
    }
    .name{
        display: flex;
    }
    .navbar1>img{
        height: 200px;
        width: 200px;
    }
    .navbar2>ul{
        padding: 0;
        margin-left: 400px;
    }
    .navbar2>ul>li{
        padding-left: 50px;
    }
}